.botones input[type="submit"]
 {
  background-color: rgb(98, 42, 42);
  color: white;
  padding: 10px 30px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.botones input[type="submit"]:hover {
  background-color: rgb(84, 82, 82);
}
